@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome MindSpring This is Arhin Emmanuel work</h1>
          <a href="/storeresultModel/create">Click here to start translate your sentent to leekSpeak</a>
</div>
